.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: #f2ede3;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 50px; 
}

.project-section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  height: 100%;

}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
}

.text-section h1 {
  font-size: 2.5rem; /* Adjust size as necessary */
  margin: 0;
}

.text-section p {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.thumbnail-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.project-thumbnail {
  width: 800px; /* Adjust size as necessary */
  height: auto;
  border: 2px solid #f2ede3;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-thumbnail:hover {
  transform: scale(1.05);
}

.stacked-images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}

.project-image {
  width: 200px; /* Adjust size as necessary */
  height: auto;
  border: 2px solid #f2ede3;
  border-radius: 8px;
}

