.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #fafafa; /* Light grey background */
    color: #333;
    font-family: 'Source Code Pro', 'Arial', sans-serif;
    text-align: left;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  
  .skills-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
  }
  
  .skills-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
  }
  
  .skills-content div {
    flex: 1;
    padding: 1rem;
  }
  
  .skills-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .skills-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-content li {
    margin-bottom: 0.5rem;
  }
  
  .skills-content li strong {
    font-weight: bold;
  }
  
  h1 {
    font-size: 4em;
  }